<h1>Sign In</h1>
<%# show flash.now alert %>
<% if flash.now[:alert] %>
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
  </div>
<% end %>
<%= form_with model: @user, url: sign_in_post_auth_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email,  required: true, value: 'yannlc@posteo.net', class: f.object.errors[:email].any? ? 'form-control is-invalid' : 'form-control' %>
    <% if f.object.errors[:email].any? %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:email).join(', ') %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, value: '123456789', class: f.object.errors[:password].any? ? 'form-control is-invalid' : 'form-control' %>
    <% if f.object.errors[:password].any? %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:password).join(', ') %>
      </div>
    <% end %>
  </div>
  <%# Link forgot password %>
  <div class="form-group">
    <%= link_to 'Forgot password?', forgot_password_auth_path %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign In' %>
  </div>
<% end %>
<%# If user doesn't have account, invite to sign up %>
<p>Don't have an account? <%= link_to 'Sign Up', sign_up_auth_path %></p>
