<h1>Forgot Password</h1>
<%# Form invite user to input mail for reset password %>
<%= form_with model: @user, url: forgot_password_post_auth_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, value: 'yannlc@posteo.net', class: f.object.errors[:email].any? ? 'form-control is-invalid' : 'form-control' %>
    <% if f.object.errors[:email].any? %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:email).join(', ') %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Send me a reset password link' %>
  </div>
<% end %>
<%# Link sign in %>
<div class="form-group">
  <%= link_to 'Sign In', sign_in_auth_path %>
</div>
